*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.form{
    width: 100%;
    max-width: 600px;
    background: #dfdede;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form h1{
    margin-bottom: 20px;
    color: #333;
}


input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    width: 276px;

}

select{
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 276px;
}




.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.sbtn{
    padding: 10px;
    border-radius: 5px;
    background: #333;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}

.rbtn{
    padding: 10px;
    border-radius: 5px;
    background: #333;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}


.label{
    display: inline-block;
    text-align: right;
    margin: 10px;
    width: 173px;
    font-size: 20px;
}

table , th , td{
    border: 1px solid grey;
}